.App {
  text-align: center;
  padding: 40px;
}

.App-button {
  margin: 10px;
  min-width: 100px;
}

.App-button:disabled {
  opacity: 0.3;
}

.App-button:focus {
  outline: 3px solid blueviolet;
}

.App-result {
  max-width: 600px;
  margin: 0 auto;
}

.App-error {
  color: red;
}

.App-loading {
  color: silver;
}

.App-result-list {
  text-align: left;
}

.App-link {
  color: #09d3ac;
}
